<div class="px-4 py-6 bg-gray-50 shadow-sm h-full">
    <div class="py-4">
        <div class="text-center mx-auto">
            <img class="mx-auto rounded-full" src="/img/sammy.svg">
            <h3 class="text-2xl my-2">About</h3>
        </div>

        <p class="text-justify px-4 py-2">{{ site_about() }}</p>
    </div>

    <div class="py-4">
        <h3 class="text-2xl mb-6">Content</h3>
        <ul class="shadow-md rounded-md">
            {% for type in content_types() %}
                <li class="py-2 px-2 bg-blue-900 text-gray-100 font-bold{% if request_info().getRoute == type %} border-l-8 border-blue-300{% endif %}"><a href="/{{ type }}">{{ type|title|replace({'_': ' '}) }}</a></li>
                <li>
                    <ul class="divide-y divide-gray-200">
                        {% for article in table_of_contents(type) %}
                            <li class="py-2 px-2 pl-6 {% if request_info().getSlug == article.getSlug %} bg-gray-300 text-blue-900 font-bold{% else %} hover:bg-gray-100{% endif %}"><a href="{{ site_root() }}{{ article.getLink() }}">{{ article.frontMatterGet('title') }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="py-4">
        <h3 class="text-2xl mb-6">Relevant Links</h3>
        <ul class="menu-list">
            <li><a href="https://github.com/do-community/learning-labs" title="GitHub Repository"><span class="icon"><i class="fab fa-github"></i></span> LearningLabs on GitHub</a></li>
            <li><a href="https://digitalocean.com/community" title="DigitalOcean Community"><span class="icon"><i class="fas fa-users"></i></span> DigitalOcean Community</a></li>
        </ul>
    </div>

    <p class="text-center mt-20 px-6">
        <img src="/img/DO_Powered_by_Badge_blue.png" alt="Powered by DigitalOcean App Platform"/>
    </p>

</div><!-- /.blog-sidebar -->
